.v-itemlayout-slot {
	padding: 2px 5px;
	text-align: center;
	border: 1px solid transparent;
}

.v-itemlayout-slot:focus {
	outline: none;
	border: 1px dotted gray;
}

.v-itemlayout-slot-selected,.v-itemlayout-slot-selected:focus {
	border: 1px solid blue;
}

.v-itemlayout-scroll,.v-itemlayout-scroll:focus {
	outline: none;
	border: none;
}

.v-itemlayout-scroll-visiblelist {
	overflow: hidden !important;
}

.v-itemlayout-scroll-visiblelist>table>tbody>tr>td {
	vertical-align: middle !important;
	text-align: center !important;
}

.v-itemlayout-slot-removed {
	display: none !important;
}

.v-itemlayout-scroll-hidden {
	visibility: hidden !important;
}

.v-itemlayout-scroll-prev,.v-itemlayout-scroll-next {
	text-align: center;
}

.v-itemlayout-scroll-prev img,.v-itemlayout-scroll-next img {
	vertical-align: middle;
}

/* Style for Horizontal */
.v-itemlayout-horizontal .v-itemlayout-scroll-visiblelist>table {
	height: 100%;
}

.v-itemlayout-horizontal .v-itemlayout-scroll-prev {
	float: left;
}

.v-itemlayout-horizontal .v-itemlayout-scroll-next {
	float: right;
}

/* Style for Vertical */
.v-itemlayout-vertical {	
	position: relative;
}
.v-itemlayout-vertical .v-itemlayout-scroll-visiblelist {
	width: 100%;
	position: absolute;
}

.v-itemlayout-vertical .v-itemlayout-scroll-visiblelist table {
	width: 100%;
	
}
.v-itemlayout-vertical .v-itemlayout-scroll-next {
	position: absolute;
	bottom: 0;
}