.v-itemlayout-slot {
	padding: 2px 5px;
	text-align: center;
	border: 1px solid transparent;
}

.v-itemlayout-slot:focus {
	outline: none;
	border: 1px dotted gray;
}

.v-itemlayout-slot-selected, .v-itemlayout-slot-selected:focus {
	border: 1px solid blue;
}

.v-itemlayout-scroll,
.v-itemlayout-scroll:focus {
	outline: none;
	border: none;
}

.v-itemlayout-scroll-visiblelist {
	overflow: hidden !important;
}

.v-itemlayout-slot-removed {
	display: none !important;
}

.v-itemlayout-horizontal .v-itemlayout-scroll-prev {
	float:left;
}
.v-itemlayout-horizontal .v-itemlayout-scroll-next {
	float:right;
}

.v-itemlayout-vertical .v-itemlayout-scroll-visiblelist {
	height: 100%;
}

.v-itemlayout-scroll-hidden {
   visibility: hidden !important;
}
